<html>
  <head>
    <title>Transfer page</title>
  </head>
  <body>
    <div class="container">
      <h1>Transfer</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Amount" name="amount" value="{{
          request.form.amount }}">
        <input type="text" placeholder="To" name="to_user" value="{{
          request.form.to_user }}">
        <input class="btn btn-default" type="submit" value="Transfer">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>